@font-face {
    font-family: 'ChakraPetch Regular';
    src: url('/assets/fonts/ChakraPetch-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

:root {
    --font-regular: 'ChakraPetch Regular', sans-serif;

    --color-primary: #0e2e50;
    --color-text: #666;
    --color-link-hover: #008ecc;
    --color-alt-1: #0b2342;
    --color-alt-2: #071734;
    --color-alt-3: #040c25;
    --color-alt-4: #000017;

    --border-radius: 4px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

body {
    font-family: var(--font-regular);
    letter-spacing: 0.2px;
}

input, select, textarea, a, button {
    font-family: var(--font-regular);
}

a {
    text-decoration: none;
}

.sign-simple-link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-text);
    transition: linear 0.2s;
}

.sign-simple-link:hover {
    color: var(--color-link-hover);
}

.btn {
    padding: 10px 15px;
    border-radius: var(--border-radius);
    background: #dcdcdc;
    color: var(--color-primary);
}

.form-input {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 5px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: var(--border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    margin-top: 5px;
}

.form-input:active,
.form-input:focus {
    border-color: var(--color-link-hover);
    outline: var(--color-link-hover);
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-label {
    font-weight: 600;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text);
}

.form-label a {
    color: var(--color-link-hover);
}

.form-btn {
    border-radius: var(--border-radius);
    width: 100%;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.btn-primary {
    background: linear-gradient(123.86deg, var(--color-primary) 20.08%, var(--color-alt-2)); 
    color: #fff;
}

.btn-secondary {
    background: #dcdcdc;
    color: var(--color-primary);
}